<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Students Listing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <ol>
            <li th:each="student: ${students}">
                Name: <span th:text="${student.name}" />
                Registration number: <span th:text="${student.registrationNumber}" />
                <form action="#" th:action="@{/students/__${student.id}__/delete}" method="post">
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{/students/__${student.id}__/update}">Update</a>
            </li>
        </ol>

        <a href="/students/new">Create new</a>
    </body>
</html>