<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update teacher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Update teacher</h1>
<form action="#" th:action="@{/teachers/__${id}__/update}" th:object="${teacher}" method="post">
    <p>
        Name: <input th:field="*{name}" type="text" />
    </p>

    <p>
        Registration number: <input th:field="*{registrationNumber}" type="text" />
    </p>

    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>